[framework/core]
SessionLogging=true
LogLevel=5
TimestampOutput=true
PromptTimeFormat=%d-%b-%y %T
prompt=%grn[%T] %grnTrustedSec %whiMSF%whi %L (s:%grn%S %whij:%grn%J%whi)
EnableStageEncoding=true
MeterpreterUserAgent=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36
MeterpreterServerName=Microsoft-IIS/8.0
DisablePayloadHandler=true

[framework/dns]
configuration_version=1.0

[framework/dns/rules]

[framework/dns/static_hostnames]

[framework/features]

[framework/ui/console]