<ruby>
  opts = {
    module_path: "auxiliary/scanner/rdp/cve_2019_0708_bluekeep",
    target_filter: {
      proto: "tcp",
      ports: [3389],
      services: ["rdp", "ms-wbt-server", "ssl/ms-wbt-server"],
      info: []
    },
    thread_count: "10",
    # Uncomment/set below if you need creds:
    # user_file:    "/root/DATA/TOOLS/SCRIPTS/MSF/files/users.txt",
    # pass_file:    "/root/DATA/TOOLS/SCRIPTS/MSF/files/passwords.txt",
    # username:     "username",
    # password:     "password"
  }

  load '/root/DATA/TOOLS/SCRIPTS/MSF/msf_common_runner.rb'

  run_module(opts)
</ruby>

exit