<ruby>
  opts = {
    module_path: "auxiliary/scanner/http/dell_idrac",
    target_filter: {
      proto: "tcp",
      ports: [80, 443, 5800, 5985, 7002, 8000, 8080, 8181, 8443, 8888],
      services: ["http", "https", "ssl/ssl", "ssl/http", "ssl/https", "ssl/https-alt", "ssl/https-proxy", "http-alt", "http-proxy", "https-alt", "https-proxy", "ssl/ipp", "vnc-http"],
      info: []
    },
    thread_count: "10",
    # Uncomment/set below if you need creds:
    # user_file:    "/root/DATA/TOOLS/SCRIPTS/MSF/files/users.txt",
    # pass_file:    "/root/DATA/TOOLS/SCRIPTS/MSF/files/passwords.txt",
    # username:     "username",
    # password:     "password"
  }

  load '/root/DATA/TOOLS/SCRIPTS/MSF/msf_common_runner.rb'

  run_module(opts)
</ruby>

exit