<ruby>
  opts = {
    module_path: "auxiliary/scanner/misc/java_rmi_server",
    target_filter: {
      proto: "tcp",
      ports: [1099, 1617, 9999],
      services: ["java-rmi", "rmi"],
      info: []
    },
    thread_count: "10",
    # Uncomment/set below if you need creds:
    # user_file:    "/root/DATA/TOOLS/SCRIPTS/MSF/files/users.txt",
    # pass_file:    "/root/DATA/TOOLS/SCRIPTS/MSF/files/passwords.txt",
    # username:     "username",
    # password:     "password"
  }

  load '/root/DATA/TOOLS/SCRIPTS/MSF/msf_common_runner.rb'

  run_module(opts)
</ruby>

exit