<ruby>
  opts = {
    module_path: "auxiliary/scanner/http/jenkins_login",
    target_filter: {
      proto: "tcp",
      ports: [80, 443, 5800, 5985, 7002, 8000, 8080, 8181, 8443, 8888],
      services: ["http", "https", "http-alt", "http-proxy", "ssl/http", "jenkins"],
      info: []
    },
    thread_count: "10",
    # Uncomment/set below if you need creds:
    user_file:    "/root/DATA/TOOLS/SCRIPTS/MSF/files/JENKINS_USERS.txt",
    pass_file:    "/root/DATA/TOOLS/SCRIPTS/MSF/files/JENKINS_PASSWORDS.txt",
    # username:     "username",
    # password:     "password"
  }

  load '/root/DATA/TOOLS/SCRIPTS/MSF/msf_common_runner.rb'

  run_module(opts)
</ruby>

exit