<ruby>
  opts = {
    module_path: "auxiliary/scanner/mssql/mssql_login",
    target_filter: {
      proto: "tcp",
      ports: [1433],
      services: ["mssql", "ms-sql-s"],
      info: []
    },
    thread_count: "10",
    # Uncomment/set below if you need creds:
    user_file:    "/root/DATA/TOOLS/SCRIPTS/MSF/files/SQL_USERS.txt",
    pass_file:    "/root/DATA/TOOLS/SCRIPTS/MSF/files/SQL_PASSWORDS.txt",
    username:     "sa",
    # password:     "password"
  }

  load '/root/DATA/TOOLS/SCRIPTS/MSF/msf_common_runner.rb'

  run_module(opts)
</ruby>

exit