<ruby>
  opts = {
    module_path: "auxiliary/scanner/x11/open_x11",
    target_filter: {
      proto: "tcp",
      ports: [6000, 6001, 6002, 6003, 6004, 6005],
      services: ["x11"],
      info: []
    },
    thread_count: "10",
    # Uncomment/set below if you need creds:
    # user_file:    "/root/DATA/TOOLS/SCRIPTS/MSF/files/users.txt",
    # pass_file:    "/root/DATA/TOOLS/SCRIPTS/MSF/files/passwords.txt",
    # username:     "username",
    # password:     "password"
  }

  load '/root/DATA/TOOLS/SCRIPTS/MSF/msf_common_runner.rb'

  run_module(opts)
</ruby>

exit