<ruby>
  opts = {
    module_path: "auxiliary/scanner/smb/smb_enum_gpp",
    target_filter: {
      proto: "tcp",
      ports: [139, 445],
      services: ["smb", "netbios-ssn", "microsoft-ds"],
      info: []
    },
    thread_count: "10",
    # Uncomment/set below if you need creds:
    # user_file:    "/root/DATA/TOOLS/SCRIPTS/MSF/files/users.txt",
    # pass_file:    "/root/DATA/TOOLS/SCRIPTS/MSF/files/passwords.txt",
    # username:     "username",
    # password:     "password"
  }

  load '/root/DATA/TOOLS/SCRIPTS/MSF/msf_common_runner.rb'

  run_module(opts)
</ruby>

exit