<ruby>
  opts = {
    module_path: "auxiliary/scanner/vnc/vnc_none_auth",
    target_filter: {
      proto: "tcp",
      ports: [5900, 5901, 5902, 5903, 5904, 5905],
      services: ["vnc"],
      info: []
    },
    thread_count: "10",
    # Uncomment/set below if you need creds:
    # user_file:    "/root/DATA/TOOLS/SCRIPTS/MSF/files/users.txt",
    # pass_file:    "/root/DATA/TOOLS/SCRIPTS/MSF/files/passwords.txt",
    # username:     "username",
    # password:     "password"
  }

  load '/root/DATA/TOOLS/SCRIPTS/MSF/msf_common_runner.rb'

  run_module(opts)
</ruby>

exit